@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header > a {
    display: block;
}

.Logo {
    color: black;
    font-family: 'Righteous', cursive;
    margin-top: 0;
    height: 48px;
}
