.Switch {
    margin: 1em 0;
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    border-radius: 6px;
}
@media only screen and (min-width: 768px) {
    .Switch {
        display: inline-flex;
    }
}
.SwitchOption {
    text-align: center;
    flex: 1;
}
@media only screen and (min-width: 768px) {
    .SwitchOption {
        min-width: 215px;
    }
}

.SwitchOption.SwitchOption-selected {
    background-color: #C8E4FF;
    border-radius: 6px;
}
