.ModelOption {
    margin: 1em 0;
    padding: 1em;
    background-color: #f1f1f1;
    border-radius: 6px;
}
@media only screen and (min-width: 768px) {
    .ModelOption {
        min-width: 400px;
        margin: 1em 1em 0 0;
    }
}

.ModelOptions-configs {
    margin: 1em 0;
    display: flex;
}

.ModelOption-success {
    text-align: center;
}

.ModelOption-prompt {
    text-align: center;
    margin: 0;
    flex: 1;
}

.ModelOptions-controls {
    display: flex;
}

.MemoryOption {
    padding: 0.25em 0.5em 0.5em 0.5em;
    margin-right: 1em;
    border: 1px solid black;
    border-radius: 6px;
}

.MemoryOption.MemoryOption-selected {
    background-color: #C8E4FF;
}

.Memory {
    display: flex;
    align-items: baseline;
}

.MemoryOption-price {
    font-size: 10pt;
    margin: 0;
}

.Memory-quantifier {
    font-size: 9pt;
}
