.IPhoneCard {
    color: white;
    max-width: 400px;
    margin: 1.5em;
    padding: 0.5em 1.5em 0 1.5em;
}

.IPhoneCard-title {
    text-align: center;
}

.IPhoneCard-split {
    display: flex;
    justify-content: space-between;
}

.IPhoneCard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 1em;
    padding-right: 0.25em;
    min-height: 125px;
}

@media only screen and (min-width: 768px) {
    .IPhoneCard-description {
        font-size: 2em;
    }
}

.IPhoneCard-button {
    color: white;
    text-align: center;
    margin-right: 1em;
    padding: 0.5em 1em;
}
