.CartPage-content {
    padding: 1em 2em;
    display: flex;
    flex-wrap: wrap;
}

.CartPage-cart {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.CartPage-checkout {
    width: 300px;
}

.CartPage-empty {
    text-align: center;
    margin-bottom: 4em;
}

@media only screen and (min-width: 768px) {
    .CartList {
        display: flex;
        flex-wrap: wrap;
    }
}

.OrderItem {
    margin: 1em 0;
    padding: 1em;
    background-color: #f1f1f1;
    border-radius: 6px;
}
@media only screen and (min-width: 768px) {
    .OrderItem {
        min-width: 400px;
        margin: 1em 1em 0 0;
    }
}

.OrderItem-details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.OrderItem-price {
    color: #2F90EA;
    text-align: end;
    font-style: italic;
    margin-bottom: 0;
}
