.Rocker {
    text-align: center;
    flex: 1;
}

.Rocker-controls {
    display: flex;
}

.Rocker-controls input[type="number"] {
    text-align: center;
}

.Rocker-control:disabled {
    opacity: 0.25;
}
