.Review {
    padding: 3px;
    margin: 3% 10%;
    display: grid;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media only screen and (min-width: 768px) {
    .Review {
        display: grid;
    }
}